html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

#map {
  position: absolute;
  width: 100%;
  height: calc(100% - 64px);
  top: 64px;
}

.facebook_icon {
  width: 32px;
  height: 32px;
}