html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

#map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
}

.facebook_icon {
  width: 32px;
  height: 32px;
}

.page-content {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.setting3 {
  height: 1000px;
}

.mdl-layout__header {
  min-height: inherit;
}

.video-spacer {
  width: 100%;
  height: 100%;
}

.video-container {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}

.video {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  border: 0;
}

.user-pic {
  width: 64px;
  height: 64px;
}

#user-pic {
  display: inline-block;
}

#user-name {
  display: inline-block;
}

#switch-1-input,
#switch-2-input {
  display: none;
}

.setting-card {
  width: 100%;
}

.demo-card-wide {
  margin-bottom: 20px;
}

.demo-card-wide.mdl-card {
  width: 100%;
}

.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 176px;
  background-color: #888;
}

.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

#list_title_1 {
  background: url(http://www.feel-kobe.jp/kobe-yakei/area/sea_side/02/images/01.png) center / cover;
}

#list_title_2 {
  background: url(http://www.feel-kobe.jp/kobe-yakei/area/mountain/06/images/01.png) center / cover;
}

#list_title_3 {
  background: url(http://www.feel-kobe.jp/kobe-yakei/area/sea_side/01/images/01.png) center / cover;
}